<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
    
    <style>
        *{
            font-family: "gilroy";
        }
    </style>
</head>
<body>
    
        <nav class="flex items-center justify-between py-[10px] px-[40px] w-full bg-white">
        <div class="logo">
          <img class="w-[200px]" src="/images/PINS_BIG.png" alt="">
        </div>
        <div class="link flex gap-10 justify-center items-center font-gilroy">
            <a class="font-medium text-base" href="/profile">Profile</a>
            <a class="font-medium text-base" href="/feed">Feed</a>
            <a href="/logout" class="upbtn px-[15px] py-[5px] bg-red-700 hover:bg-red-800 transition-bg duration-300 ease-in-out" style="color: #fff; font-size: 16px;
            font-weight: 500; border-radius: 20px; text-decoration: none; transition: background-color 0.3s;">
            Log out
            </a>
        </div>
      
        </nav>
        
